<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
      <div> Nro Orden: {{ entity.id }}</div>
      <div>Cliente: {{ entity.getCliente.getName }}</div>
      <div>Documento: {{ entity.getDocumento }}</div>
  </body>
</html>
  