/* #backend_userbundle_group_accesos{ */
#productos{
	float:left;
	width: 90%;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:9%;

}


.producto_nuevo{

 width:90%;	
 float:left;
 padding-top:20px;

}

.label_producto{

  float:left;
  padding-right: 10px;
  padding-left: 10px;
}

.input_producto{

  float:left;
  padding-left: 4px;
  width:30px;

}

.input_imei{

  float:left;
  padding-left: 4px;
  width:120px;

}
.check_garantia{
  float:left;
}
.marca_select{

  float:left;
  padding-left: 4px;
  padding-right: 10px;	

}

.modelo_select{

  float:left;
  padding-left: 4px;
  padding-right: 10px;

}
.estado_select{
  float:left;
  
}
.estado_select select{
 width: 120px;
}

.btn_eliminar{

	float:left;

}

.btn_agregar{

	float:left;

}

#errores {

	color: red;

}

#sucess{

    color:green;
}

.div_checkbox{
 width: 250px;
 float:left;
}

.div_checkbox input {
 float: left;
}

.div_checkbox label{
 float:left;
 padding-right: 10px;
 padding-left: 4px;
}
