<table class="table" id="table_pedido_detalle" style="display:none">
		<thead>
		<tr>
		<th>Codigo de Fabricante</th>
		<th>Descripcion del Fabricante</th>
		<th>Descripcion Interna</th>
		<th>Cantidad Pedida</th>
		<th>Estado</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
</table>
